<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.cad.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlDocente</servlet-name>
        <servlet-class>com.cad.controller.ControlDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoController</servlet-name>
        <servlet-class>com.cad.controller.CursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoController</servlet-name>
        <servlet-class>com.cad.controller.AlumnoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallecursoController</servlet-name>
        <servlet-class>com.cad.controller.DetallecursoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/hc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlDocente</servlet-name>
        <url-pattern>/cd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoController</servlet-name>
        <url-pattern>/cc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoController</servlet-name>
        <url-pattern>/ac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallecursoController</servlet-name>
        <url-pattern>/dcc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
